/* header and nav layout */
header .nav-wrapper {
  background-color: var(--bg-color-white);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  width: 100%;
  font-family: var(--body-font-family);
}

header nav > div {
  padding: 0 1rem;
}

header nav .section {
  width: 100%;
  box-sizing: border-box;
}

header .section > div {
  max-width: 1440px;
  margin: 0 auto;
}

@media (width <= 1440px) {
  header .section > div {
    max-width: 1080px;
    margin: 0 auto;
  }
}

/* header nav . */

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  /* flex-basis: 128px; */
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  background-color: var(--bg-color-white);
  margin: 0 auto;
  padding: 5px 1rem;
}

header .nav-brand > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header nav .nav-brand img {
  width: auto;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--bg-color-beige);
  height: 100%;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > a:hover {
  text-decoration: none;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

header nav .nav-sections ul > li > ul > li > a {
  padding: 0.25rem 0;
}

header nav .nav-sections ul > li > ul > li > a:hover {
  text-decoration: underline;
}

header nav .nav-sections ul > li > ul > li > ul {
  display: block;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 900;
}

header nav .nav-sections ul > li > ul > li > ul > li {
  color: #696158;
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
  }

  /* header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  } */

  header nav .nav-sections ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    justify-content: center;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    padding: 0.5rem;
    line-height: normal;
  }

  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop:hover {
    color: var(--bg-color-red);
    background-color: #e3dfd6;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 7px;
    padding: 1em;
    background-color: #e3dfd6;
    white-space: initial;
  }

  header nav .nav-sections ul > li > ul > li > a {
    padding: 0.5rem 0;
  }
  
  /* header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  } */

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
    color: #000;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  background-color: var(--bg-color-beige);
}

header nav .nav-tools img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

header nav .nav-tools > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 3rem;
}

header nav .nav-tools ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

header nav .nav-tools > div p:nth-of-type(2) {
  margin-right: auto;
}

header nav .nav-tools p:nth-of-type(2){
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-tools p:nth-of-type(2) input[type="text"] {
  height: auto;
  width: auto;
  padding: 1rem 0.75rem;
  min-width: 20rem;
  background-color: var(--bg-color-beige); 
  font-size: 16px;
  border: 1px solid;
  border-radius: 2px 0 0 2px;
}

header nav .nav-tools p:nth-of-type(2) .icon-search {
  display: block;
  width: auto;
  height: auto;
  padding: 0.9rem;
  background-color: #484745;
  border-radius: 0 5px 5px 0;
}

header nav .nav-tools p:nth-of-type(2) .icon-search:hover {
  background-color: var(--bg-color-red);
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

header nav .nav-tools p:nth-of-type(2) .icon-search img {
  width: 20px;
  height: 20px;
}

header nav .nav-tools ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

header nav .nav-tools ul li:hover {
  color: var(--bg-color-red);
  cursor: pointer;
}

header nav .nav-tools ul li:nth-of-type(2),
header nav .nav-tools ul li:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}

header nav .nav-tools ul li span {
  height: 28px;
  width: 28px;
}

header nav .nav-tools .icon img {
  height: 100%;
  width: auto;
}

header nav .nav-tools .tool-link-register {
  margin-left: 0.5rem;
}

header nav .nav-tools .tool-link-register > div:not(.links) span {
  margin-left: 35px;
}

header nav .nav-tools .tool-link-register .links span {
  text-decoration: underline;
}

header nav .nav-tools .tool-link-register .mobile-label {
  display: none;
}

@media (width <= 992px) {
  header nav .nav-tools .tool-link-register div:not(.mobile-label) {
    display: none;
  }

  header nav .nav-tools .tool-link-register .mobile-label {
    display: block;
  }

  header nav .nav-tools ul {
    gap: 1.5rem;
  }

  header nav .nav-tools ul li {
    display: flex;
    flex-direction: column;
  }

  header nav .nav-tools > div {
    gap: 1.5rem;
  }

  header nav .nav-tools p:nth-of-type(2) input[type="text"] {
    min-width: 15rem;
    background-color: var(--bg-color-white);
  }

  header nav .nav-sections ul {
    margin: 0;
    padding: 1rem 0;
  }

  header nav .nav-tools img {
    height: 30px;
  }
}

@media (width <= 768px) {
  header nav .nav-tools ul li:nth-of-type(1),
  header nav .nav-tools ul li:nth-of-type(2) {
    display: none;
  }

  header nav .nav-tools p:nth-of-type(2){
    display: none;
  }
}

@media (width <= 900px) {
  header nav .nav-sections {
    height: 100vh;
  }
}