
/* stylelint-disable */

.carousel .slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.carousel .slider-container {
  cursor: grab;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.carousel .slider-container.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}

.carousel .slider-item {
  box-sizing: border-box;
  padding: 12px;
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slider-image {
  width: fit-content;
}

.carousel .slider-container[data-step="sm"] .slider-item {
  max-width: calc(100% / 1);
}

.carousel .slider-control {
  border: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: #FFF 0 0 no-repeat padding-box;
  box-shadow: 0 4px 8px rgba(38,38,38,0.1);
  border-radius: 40px;
  z-index: 1;
  position: absolute;
  line-height: 0;
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
}

.carousel .slider-control.prev {
  left: 0;
}

.carousel .slider-control.next {
  right: 0;
}

.carousel .slider-control.prev.disabled,
.carousel .slider-control.next.disabled {
  background-color: var(--color-neutral-200);
}

.carousel .slider-item a {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(72, 71, 69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(38,38,38,0.1019607843);
  width: 100%;
  height: 100%;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}

.carousel .slider-item a:hover {
  border: 1.5px solid black;
}

.carousel .slider-item .best-seller {
  position: absolute;
  top: 0;
  left: 0;
  background: #34302b;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0 0 2px 0;
  padding: 2px 8px;
}

.carousel .slider-item a .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
}

.carousel .slider-item a .price span {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0rem;
  padding: .25rem;
  font-weight: bold;
  border-radius: .5rem;
  margin-left: 0.75rem;
  color: var(--color-white);
  background-color: var(--color-red);
}

.carousel .slider-item a:hover {
  text-decoration: none;
}

.carousel .slider-item img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  --webkit-user-select: none;
}

.carousel .slider-item .image-wrapper {
  margin: 0 auto;
}

.carousel .slider-item picture img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media (width <= 768px) {
  .carousel .slider-item picture img {
    width: revert-layer;
  }
}

.carousel .slider-text {
  border-radius: 5px;
  text-align: start;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.carousel .slider-text p {
  margin: 0 5px;
  padding: 5px;
  display: contents;
}

.carousel .slider-text a {
  font-size: inherit;
  width: 100%;
}

.carousel .slider-text a:hover {
  color: inherit;
}

/* icons */
.carousel .gg-chevron-right-o, 
.carousel .gg-chevron-left-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}

.carousel .gg-chevron-right-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1.5px solid;
  border-right: 1.5px solid;
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  top: 50%;
}

.carousel .gg-chevron-left-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1.5px solid;
  border-left: 1.5px solid;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 50%;
}

.carousel .slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel .slider-dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-brand-700);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel .slider-dot.active {
  background-color: var(--color-brand-500);
}

.carousel .slider-container.dragging a {
  pointer-events: none;
}

@media (width >= 768px) {
  .carousel .slider-container[data-step="sm"] .slider-item {
      max-width: calc(100% / 3);
  }
}

@media (width >= 1024px) {
  .carousel .slider-container[data-step="sm"] .slider-item {
      max-width: calc(100% / 4);
  }
}

@media (width >= 1440px) {
  .carousel .slider-container[data-step="sm"] .slider-item {
      max-width: calc(100% / 5);
  }
}

@media (width >= 1900px) {
  .carousel .slider-container[data-step="sm"] .slider-item {
    max-width: calc(100% / 6);
  }
}
